{% extends "products/parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

</head>
<body>

<main role="main">

  <div class="container-fluid">
    <div class="form-row">

      {% for video in history_videos %}

      <div class="form-group col-md-4" style="display: flex; justify-content: flex-end">
          <div class="form-group col-md-10" >
          {% load static %}
          <a href='/video/{{ video.id }}'>
          <img style="width:100%; height:235px;" src="{{video.video.thumbtail.url}}" alt="No Video Present" class="img-thumbnail"></a>
          </div>
      </div>
            <div class="form-group col-md-6">
              <div class="row">
              <h6 style="margin-top: 7px;margin-left: 15px; ">{{ video.video.title }}</h6>
                  <div class="row" style="margin-top: 7px;margin-left: 15px; ">
                  <p>{{ video.video.description }}</p>
                      </div>
              <small style="margin-top: 0px;margin-left: 16px;" class="text-muted">Uploaded by {{ video.video.user }} on {{ video.video.upload_date }}</small>
              </div>
       </div>


            {% endfor %}
        </div>
      </div>

</main>
{% endblock %}
