{% extends "products/parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

</head>
<body>

<main role="main">

  <div class="container-fluid">
    <div  id = "show_video" class="form-row">

      {% for video in most_recent_videos %}

      <div class="form-group col-md-3">
          {% load static %}
          <a href='/video/{{ video.id }}'>
          <img style="width:100%; height:235px;" src="{{video.thumbtail.url}}" alt="No Video Present" class="img-thumbnail"></a>
          <h6 style="margin-top: 7px;margin-left: 15px; ">{{ video.title }}</h6>
            <small style="margin-top: 0px;margin-left: 16px;" class="text-muted">Uploaded by {{ video.user }} on {{ video.datetime }}</small>
          </div>

            {% endfor %}
        </div>
      </div>

</main>
{% endblock %}
