{% extends "products/parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

</head>
<body>

<main role="main">

  <div class="container-fluid">
    <div  id = "show_video" class="row justify-content-md-center">

      {% for video in most_recent_videos %}

            <div class="shadow-lg card mx-2 my-3 " style="width: 28rem;">
                 {% load static %}
              <a href='/video/{{ video.id }}'>
              <img src="{{video.thumbtail.url}}" class="card-img-top" alt="No Video Present">
              </a>
                  <p class = "mx-3 my-3"><strong class="font-italic">{{ video.title }}</strong><br><small class="text-muted" >Uploaded by {{ video.user }} on {{ video.upload_date }}</small></p>
            </div>


            {% endfor %}
        </div>
      </div>

</main>
{% endblock %}
